{{template "top" .}}
<title>Order Status</title>
<div class="mx-w-md mx-auto text-center">
  <h1 class="text-2xl font-bold mb-4">
    Order Place succesfully!
  </h1>
  <p class="text-lx mb-2">Order Id:</p>
  <p class="text-xl font-bold mb-4">
    {{.Order.Id}}
  </p>
</div>
{{template "bottom" .}}
